body {
    font-size: 14px;
    background-color: #e8e8e8;
}

.wrapper {
    max-width: 841px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin: 168px 0 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    opacity: 0.6;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #273d46;
}
.title {
    text-align: center;
    margin: 0 0 0 60px;
    max-width: 723px;
    line-height: 50px;
    font-weight: 400;
    color: #6b797f;
    font-size: 36px;
}
.img {
    margin: 77px 0 0;
    border: white solid 10px;
}
.general {
    margin: 97px 0 0 0;
    font-size: 24px;
    padding: 0 50px;
    opacity: 0.8;
    line-height: 40px;
    font-weight: 400;
    color: #6c7a7f;
}

.list {
    margin: 40px 0 0;
    padding: 0 50px;
    font-size: 20px;
}
.first {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #273d46;
}
.second {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    font-style: italic;
    color: #80b7b3;
}
.third {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #273d46;
}
.fourth {
    opacity: 0.3;
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-decoration: line-through;
    color: #273d46;
}
.button {
    display: block;
    margin: 59px 0 0 50px;
    padding: 5px 0 0 29px;
    width: 199px;
    height: 44px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    background-color: #80b7b3;

    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
}